.link {
  display: flex;
  justify-content: center;
  color: black;
  text-underline-offset: 2px;
  margin-bottom: 10vh;
}

.error {
  display: flex;
  font-family: Montserrat;
  font-weight: 700;
  color: #ff6060;
  font-size: 96px;
  @media (min-width: 720px) {
    font-size: 288px;
  }
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin: 5vh 0 5vh 0;
}

.error-text {
  color: #ff6060;
  text-align: center;
  margin-bottom: 10vh;
}
