.card {
  display: flex;
  width: auto;
  height: 28.4vh;
  max-height: 255px;
  margin: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
  background-color: rgb(219, 80, 80);
  color: white;
  @media (min-width: 720px) {
    width: 38vh;
    height: 38vh;
  }
}

.card-title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5rem;
  margin-left: 3rem;
  font-weight: 700;
  font-size: 2vh;
}
