.item-container {
  display: flex;
  flex-direction: column;
}

section > img {
  display: flex;
  align-self: center;
  width: 100%;
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  @media (min-width: 720px) {
    max-height: 415px;
    object-fit: cover;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  padding-bottom: 0.5rem;
  @media (min-width: 720px) {
    font-size: 36px;
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  @media (min-width: 720px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.social {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 720px) {
    flex-direction: column-reverse;
  }
}

.profil-pic {
  display: flex;
}

.tags {
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.location {
  font-size: 18px;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  @media (min-width: 720px) {
    flex-direction: row;
    gap: 2rem;
  }
}

.item-container .wrapper {
  @media (min-width: 720px) {
    width: 50%;
  }
}
