.item-container {
  display: flex;
  flex-direction: column;
}

section > img {
  display: flex;
  align-self: center;
  width: 100%;
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  @media (min-width: 720px) {
    max-height: 415px;
    object-fit: cover;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  padding-bottom: 0.5rem;
}
