.collapse {
  display: flex;
  background-color: #ff6060;
  color: white;
  margin: 2rem 0 0 0;
  height: 2rem;
  align-items: center;
  padding: 0 1rem 0 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  justify-content: space-between;
}

.equipement {
  transition: max-height 0.3s ease;
  max-height: 500px;
  list-style: none;
  li {
    padding: 0.2rem 0 0.2rem 1.5rem;
  }
}

.equipement__content {
  background-color: #f6f6f673;
  padding: 1rem 0 1rem 0;
}

.hidden {
  max-height: 0;
  overflow: hidden;
}
