.header img {
  width: 40%;
}

.header {
  display: flex;
  padding: 0.5vh 0 2vh 0;
  height: 5.2vh;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav a {
  color: black;
  text-decoration: underline;
  &.nav-about {
    text-decoration: none;
  }
}

.nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 4vh;
  justify-content: flex-end;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
}
