.header img {
  width: 43%;
}

.header {
  display: flex;
  padding: 1vh 1.7vh 2vh 1.7vh;
  margin: 0.5vh;
  height: 5.2vh;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav a {
  color: black;
  text-decoration: underline;
  text-underline-offset: 2px;
  &.nav-about {
    text-decoration: none;
  }
}

.nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 2.5vh;
  justify-content: flex-end;
  font-size: 13px;
  font-weight: 500;
}
