.header img {
  padding: 1rem;
  width: 40%;
}

.header {
  display: flex;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav a {
  color: black;
  text-decoration: underline;
  &.nav-about {
    text-decoration: none;
  }
}

.nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 143%;
}
