.footer-container {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 23vh;
  max-height: 209px;
}

.footer-text {
  padding-top: 1rem;
  color: white;
  font-size: 12px;
}

.footer-logo img {
  display: flex;
  align-items: center;
  width: 20%;
}
