@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Montserrat;
}

header,
main {
  padding: 0 1.2rem 0 1.2rem;
}

main {
  flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 0 auto;
}
